*{
    padding: 0;
    margin: 0;
    font-family: fantasy;
}
 body{
    background-color: rgb(172, 202, 198);
 }
.mainContainer{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.header{
    font-size: xx-large;
    margin-top: 10px;
}
.header .difficultlySelection{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: baseline;
    align-items: baseline;
    column-gap: 10%;
    row-gap: 10px;
    background-color: coral;
    box-shadow:5px 10px 10px black;
    box-sizing: border-box;
}

.header .difficultlySelection .difficultlyLevelHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;

}
.header .difficultlySelection .difficultlyLevelHolder button{
    width: 50%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}

.playSheet{
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    margin: auto;
    width: 90vmin;
    min-width: 500px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: lemonchiffon;
    box-shadow: 10px 20px 10px black;
    row-gap: 1vmin;

}

.playSheet .card{
    margin: auto;
    padding: auto;
    height: 10vmin;
    min-height: 100px;
    width: 10vmin;
    min-width: 100px;
    position: relative;
    box-shadow: 1px 1px 10px black;
    border-radius: 10%;
    transition: 1s;
    
	transform-style: preserve-3d;
}
.playSheet .card .front ,.playSheet .card .back , .playSheet .card .back img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 10%;
    text-align: center;
    font-size: x-large;
}
.playSheet .card .back {
	background: #f0f0f0;
	transform: translateZ(-1px);
	box-shadow: inset 0 0 1vmin #0002;
}
.playSheet .card.show {
	transform: rotateY(180deg);
}
